
html, body {
	padding: 0px;
	margin: 0px;
	border: 0px;
	
	background-image: url('images/bg_stressed_linen.png');
}

h1 {
	color: white;
	font-size: 24px;
	font-family: arial;
}

#header {
	height: 150px;
	width: 100%;
	background-color: rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(255,255,255,0.3);
}
	
	#header #header_content {
		height: 150px;
	}
		
		#header #header_content img {
			height: 130px;
			margin-left: 10px;
			margin-top: 10px;
		}
	
	#header #navigation {
		width: 350px;
		height: 150px;
		float: right;
	}
	
		#navigation ul {
			list-style: none;
			float: right;
			text-align: right;
			margin-right: 20px;
			font-size: 18px;
			margin-top: 10px;
		}
	
		#navigation a {
			color:  gray;
			text-decoration: none;
		}
		
		#navigation a:hover {
			color:  white;
			text-decoration: underline;
		}

#main_content {
	height: 100%;
}

	#main_content #main_left {
	
	}
	
	#main_content #main_right {
		width: 350px;
		background-color: rgba(0,0,0,0.3);
		height: 100vh;
		float: right;
		border-left: 1px solid rgba(255,255,255,0.3);
	}