
html, body {
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #7d3b59;
}

#header {
	height: 150px;
	width: 100%;
	background-color: #6b6b6b;
}
	
	#header #header_content {
		height: 150px;
		background-color: #1C1C1C;
	}
		
		#header #header_content img {
			height: 130px;
			margin-left: 10px;
			margin-top: 10px;
		}
	
	#header #navigation {
		width: 500px;
		background-color: #2E2E2E;
		height: 150px;
		float: right;
	}

#main_content {
	height: 100%;
}

	#main_content #main_left {
	
	}
	
	#main_content #main_right {
		width: 500px;
		background-color: #7D3B6B;
		height: 100vh;
		float: right;
	}